{% extends 'base.html' %}

{% block title %} Mail {% endblock %}
{% block headline %} Mail {% endblock %}
{% block body_block %}

<div class="page-header">

  <table class="table">
    <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date Scheduled</th>
          <th>Status</th>
        </tr>
      </thead>
        {% if emails %}
   
    <tr>
      <td>
      </td>
            {% for mail in emails %}
      <td>
         {{ mail.name }}
      </td>
         {% endfor %}
     
      
     
     
     
            

    </tr>
{% endif %}
   
  </table>



  
<a type="button" class="btn btn-primary" href="{% url "posta.mail.create" %}"> Create an Email </a>
  
</div>



{% endblock %}
