{% extends 'base.html' %}

{% block title %} Mail {% endblock %}
{% block headline %} Mail {% endblock %}
{% block body_block %}

<div class="page-header">

  <table class="table">
    <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Subject Line</th>
          <th>Date Scheduled</th>
          <th>Status</th>
        </tr>
      </thead>
        {% if emails %}
    {% for mail in emails %}
    <tr>
    	<td>
    		<a href="/mail/edit/{{ mail.url }}">{{ mail.id }}</a>
    	</td>

      <td>
      	   {{ mail.name }}
      </td>
           
 <td>
           {{ mail.subject_line }}
      </td>

      <td>
           {{ mail.date_scheduled }}
      </td>
      <td>
      	   {{ mail.get_status_display }}
      </td>
      
     
      
     
     
     
            

    </tr>
       {% endfor %}
{% endif %}
   
  </table>



  
<a type="button" class="btn btn-primary" href="{% url "posta.mail.create" %}"> Create an Email </a>
  
</div>



{% endblock %}
